<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.durga.Student" id = "stdid" autowire="byName">
    
    <property name="name" value="Durga" ></property>
    <property name="rollno" value="101"></property>
   
    
    
    </bean>
    
    <bean class="com.durga.Address" id="address" >
    
    <property name="housename" value="The Bhawani House"></property>
    <property name="city" value="Korba"></property>
    <property name="pincode" value="495452"></property>
    
    </bean>
    
    

</beans>